{% extends 'blog/layout.html' %}

{% block extra_head %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" />
{% endblock %}

{% block content %}
    <div class="container">
        <div class="col-sm-12">

            <h2>새 게시글 작성</h2>

            {% if error_list %}
                <div class="alert alert-danger">
                    error_list: {{ error_list }}
                </div>
            {% endif %}

            {% if values %}
                <div class="alert alert-info">
                    values: {{ values }}
                </div>
            {% endif %}

            <form action="" method="post" enctype="multipart/form-data" autocomplete="off">
                {% csrf_token %}

                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <th>작성자</th>
                            <td>
                                <input type="text" name="author" value="{{ values.author }}" class="form-control" />
                            </td>
                        </tr>
                        <tr>
                            <th>제목</th>
                            <td>
                                <input type="text" name="title" value="{{ values.title }}" class="form-control" />
                            </td>
                        </tr>
                        <tr>
                            <th>내용</th>
                            <td>
                                <textarea name="content" class="form-control">{{ values.content }}</textarea>
                            </td>
                        </tr>
                        <tr>
                            <th>게시 일시</th>
                            <td>
                                <input type="text" value="{{ post.created }}">
                            </td>
                        </tr>
                        <tr>
                            <th>수정 일시</th>
                            <td>
                                <input type="text" value="{{ post.updated_at }}">
                            </td>
                        </tr>
                        <tr>
                            <th>태그 집합</th>
                            <td>
                                <input type="text" value="{{ post.tagged }}">
                            </td>
                        </tr>
                        <tr>
                            <th>태그</th>
                            <td>
                                <input type="text" name="price" value="{{ values.price }}" class="form-control" />
                            </td>
                        </tr>

        {% for key, value in my_tag.items %}
            {% if value > 0 %}
                <input type="checkbox" name={{ key }} checked>
            {% else %}
                <input type="checkbox" name={{ key }}>
            {% endif %}
            <label for={{ key }}> {{ key }} </label>
        {% endfor %} <br/>


                        <tr>
                            <th>photo</th>
                            <td>
                                <input type="file" name="photo" class="form-control" />
                            </td>
                        </tr>
                        <tr>
                            <th>is_publish</th>
                            <td>
                                <input type="checkbox" name="is_publish" value="1" {% if values.is_publish %}checked{% endif %} />
                            </td>
                        </tr>
                    </tbody>
                </table>

                <input type="submit" value="저장하기" class="btn btn-primary" />
            </form>

        </div>
    </div>
{% endblock %}
